.EmptyTodos {
    position: absolute;
    width: 50%;
    top: 17%;
    left: 26%;
    text-align: center;
    font-size: 1.8rem;
    color: white;
}

@media (max-width: 546px) {

    .EmptyTodos {
        position: absolute;
        left: 28%;
        font-size: 1.4rem;
        padding: 15px;
    }
}